* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
main .container{

    padding: 30px 0;
}




.cuerpo {
    background-color: #f380b0;
} 
/* INDEX */

.grid-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "foto1 texto1"
    "texto2 foto2"
    "foto3 texto3";
    padding: 20px 60px;
    gap: 20px;
    align-items: stretch;
    
}


.texto1 {
    grid-area: texto1;
}
.texto2 {
    grid-area: texto2;
}
.texto3 {
    grid-area: texto3;
}
.imagen1 {
    grid-area: foto1;
    background-image: url(./imagenesss/png-transparent-felsefeye-giris-philosophy-the-basics-felsefe-okuma-rehberi-contemporary-philosophy-the-book-of-healing-hand-drawn-sketch-books-template-painted-hand-thumbnail.png);
    background-size: cover;
    background-position: top;
    min-height: 50vh;
}
.imagen2 {
    grid-area: foto2;
    background-image: url(./imagenesss/png-transparent-computer-icons-philosophy-can-symbol-philosophy-of-psychology-child-face-head.png);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}
.imagen3 {
    grid-area: foto3;
    background-image: url(./imagenesss/png-clipart-thought-philosophy-knowledge-psychology-philosopher-others-miscellaneous-mammal.png);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}
.contenedor-texto {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    gap: 10px;
}
.fondo_claro {
    background-color: #FFCF9C; 
    color:  rgb(35,57,91);
}
.bg-card {
    background-color: rgb(61, 145, 117); 
    color: white;
}

/* FIN INDEX */


/* Bootstrap Header */







/* Fin header */
/* Header responsivo */





/* Fin header Responsivo */

/* Productos, vitrina */


/*                  VITRINA                        ESTILO VITRINA      */






/* FIN VITRINA */

/* CONTACTO */


/* Fin Contacto */

/* .Contenedor-pagina{
    width: 49%;
    margin: 5% auto;
    margin-left: 500px auto;
    padding: 30px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: pink ;
    

} */



/* LOGIN */

.login {
    width: 200;
    height: 420;
    background: #87ffcb;
    color: #ef5ca6;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 90px 50px;
    border-radius: 20px
}


.login .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    top: -50px;
    left: calc(50% - 50%);

}

.login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login input {
    width: 100%;
    margin-bottom: 20px;

}

.login input[type="text"],
.login input[type="password"] {
    border: none;
    border-bottom: 1px solid #ffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ef5ca6;
    font-size: 16px;

}


.login input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #2fafe2;
    font-size: 18px;
    border-radius: 20px;


}

.login input[type="Doxxeo"]:hover {
    opacity: 0.8;
}

/* Para agregar algun link

.login a{D
    text-decoration: inone;
    font-sizE: 12px;
    line-heiGht: 20px;
    colOr: darkgray;
} */

.login a:hover {
    opacity: 0.6;
}

.icono {
    position: absolute;
    height: 5%;
    top: 50%;
    opacity: 0.2;
    transform: translateY(190%);

    opacity: 0.3;
    cursor: pointer;
}

.icono:hover {
    opacity: 0.9;
}

/* GALERIA VIDEOS */


/* FOOTER */
footer{
    
    padding-top: 1.25rem;
    bottom: 0;
}
.pie_pagina {
    background-color: gray;
    width: 100%;


}

.pie_pagina .gridT {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  
}

.pie_pagina .gridT .box figure {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie_pagina .gridT .box figure img {
    width: 250px;
}

.pie_pagina .gridT .box h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie_pagina .gridT .box p {
    margin-bottom: 20px;
    color: red;
}

.contain .rss .rss-logo a {

    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(11, 11, 11);
    margin-right: 10px;
    background-color: rgb(138, 138, 135);
    text-align: center;

}

.contain .rss .rss-logo .facebook:hover {
    background-color: white;
    color: blue;

}

.contain .rss .rss-logo .youtube:hover {
    background-color: white;
    color: rgb(228, 27, 27);
}

.contain .rss .rss-logo .instagram:hover {
    background-color: white;
    color: rgb(253, 4, 204);

}

.contain .rss .rss-logo .twitter:hover {
    background-color: white;
    color: rgb(6, 191, 253);
}

.pie_pagina .copirraiss {
    text-align: center;
    background: #0f8cc1;
}



@media screen and (max-width: 768px) {

    /* Menu hamburguesa */
    .flexbox {
        display: none;
    }

    .menu-desplegable {
        display: block;
    }

    /* Fin menu hamburguesa */

    /* Responsive Footer */
    /* .pie_pagina .gridT {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    } */

    /* Fin responsive Footer */
    /* Resoinsive Body */
    .grid-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "foto1"
        "texto1"
        "foto2"
        "texto2"
        "foto3"
        "texto3";
        padding: 20px 10px;
        gap: 20px;
        }
        /* Footer */
    .contain .rss .rss-logo .facebook {
        background-color: white;
        color: blue;
    
    }
    
    .contain .rss .rss-logo .youtube {
        background-color: white;
        color: rgb(228, 27, 27);
    }
    
    .contain .rss .rss-logo .instagram {
        background-color: white;
        color: rgb(253, 4, 204);
    
    }
    
    .contain .rss .rss-logo .twitter {
        background-color: white;
        color: rgb(6, 191, 253);
    }





    }





    

