.contenido {
  min-height: 100vh;
}

.grid-area {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas:
    "imagen1 texto1"
    "texto2 imagen2"
    "imagen3 texto3";
    padding: 20px 60px;
    gap: 20px;
    align-items: stretch;

  .contenedor-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 50px;
      
  }
  .bgc-text{
    background-color: rgb(238, 180, 110);
  }

  .texto1 {
    grid-area: texto1;

  }

  .imagen1 {
    grid-area: imagen1;
    background-image: url(../imagenesss/png-transparent-felsefeye-giris-philosophy-the-basics-felsefe-okuma-rehberi-contemporary-philosophy-the-book-of-healing-hand-drawn-sketch-books-template-painted-hand-thumbnail.png);
    background-position: center center;
    background-size: cover;
    min-height: 50vh;

  }

  .texto2 {
    grid-area: texto2;
      

  }

  .imagen2 {
    grid-area: imagen2;
    background-image: url(../imagenesss/png-transparent-computer-icons-philosophy-can-symbol-philosophy-of-psychology-child-face-head.png);
    background-position: center center;
    background-size: cover;
    

  }

  .texto3 {
    grid-area: texto3;
    p{
      .hipervinculo {
        text-decoration: none;
        border-bottom: 2px solid #008080;
        color: #000000;
        
        font-size: bold ;
        &:hover {
          border-bottom: 2px solid #ff1493;
          color: #ff1493;
          transition: 0.8s
        }
      }
      
      

  }
}

  .imagen3 {
    grid-area: imagen3;
    background-image: url(../imagenesss/png-clipart-thought-philosophy-knowledge-psychology-philosopher-others-miscellaneous-mammal.png);
    background-position: center center;
    background-size: cover;
    
  }
}
